<!DOCTYPE html>

<html>
<head>
  <title>Mes abonnés</title>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
<link rel="stylesheet" type="text/css" href="../../app/dist/css/style.min.css">
</head>
<body>
<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
  <h1>Mes abonnés</h1>
  <a class="btn btn-secondary dropdown-toggle" href="" onclick="javascript:visibilite('abonnes'); return false;" id="buttonShow" >Show list of followers</a>
  <div id="abonnes" style="display:none;" >
    <table class="table">
      <tr><th> </th><th>First Name</th><th>Last Name</th><th>Adress</th><th>Pseudo</th><th>Email</th></tr>
      <% Abo.forEach(function(abo, index) { %>
        <tr><td><a href="/delete/<%= index %>" onclick="return confirm('Are you sure to delete this follower ?');">✘</a></td><td> <%= abo[0] %></td><td> <%= abo[1] %></td><td> <%= abo[2] %></td><td> <%= abo[3] %></td><td> <%= abo[4] %></td></tr>
        <% }); %>
      </table>
          <a href="/delete/all" class="btn btn-primary" onclick="return confirm('Are you sure to delete all followers ?');">Delete All</a>
    </div>
      <form action="/form" method="post">
          <div class="form-group">
            <label for="newAboFirstName">First Name : </label>
            <input type="text" class="form-control" name="newAboFirstName" id="newAboFirstName" autofocus /></br>
          </div>

          <div class="form-group">
            <label for="newAboLastName">Last Name : </label>
            <input class="form-control" type="text" name="newAboLastName" id="newAboLastName" autofocus /></br>
          </div>

          <div class="form-group">
            <label for="newAboAddress">Address : </label>
            <input class="form-control" type="text" name="newAboAddress" id="newAboAddress" autofocus /></br>
          </div>

          <div class="form-group">
            <label for="newAboPseudo">Pseudo : </label>
            <input class="form-control" type="text" name="newAboPseudo" id="newAboPseudo" autofocus /></br>
          </div>

          <div class="form-group">
            <label for="newAboEmail">Email : </label>
            <input class="form-control" type="email" name="newAboEmail" id="newAboEmail" autofocus /></br>
          </div>
          <button type="submit" class="btn btn-primary">Ajouter</button>
      </form>
    <script>function visibilite(thingId)
    {
      var targetElement;
      targetElement = document.getElementById(thingId) ;
      showButton = document.getElementById("buttonShow") ;
      if (targetElement.style.display == "none")
      {
        showButton.innerHTML="Hide list of followers";
        targetElement.style.display = "" ;
      } else {
        showButton.innerHTML="Show list of followers";
        targetElement.style.display = "none" ;
      }
    }
    </script>
  </div>
  </div>
  </body>
  </html>
