<!DOCTYPE html>

<html>
<head>
  <title>Mes abonnés</title>
  <style>
  a {text-decoration: none; color: black;}
  </style>

</head>

<body>

  <h1>Mes abonnés</h1>
  <a href="" onclick="javascript:visibilite('abonnes'); return false;" >Show list of followers</a>
  <div id="abonnes" style="display:none;">
    <table>
      <tr><th> </th><th>First Name</th><th>Last Name</th><th>Adress</th><th>Pseudo</th><th>Email</th></tr>
      <% Abo.forEach(function(abo, index) { %>
        <tr><td><a href="/delete/<%= index %>" onclick="return confirm('Are you sure to delete this follower ?');">✘</a></td><td> <%= abo[0] %></td><td> <%= abo[1] %></td><td> <%= abo[2] %></td><td> <%= abo[3] %></td><td> <%= abo[4] %></td></tr>
        <% }); %>
      </table>
    </div>
    <a href="/delete/all" onclick="return confirm('Are you sure to delete all followers ?');">All delete</a>

    <form action="/form" method="post">
      <p>
        <label for="newAboFirstName">First Name : </label>
        <input type="text" name="newAboFirstName" id="newAboFirstName" autofocus /></br>

        <label for="newAboLastName">Last Name : </label>
        <input type="text" name="newAboLastName" id="newAboLastName" autofocus /></br>

        <label for="newAboAddress">Address : </label>
        <input type="text" name="newAboAddress" id="newAboAddress" autofocus /></br>

        <label for="newAboPseudo">Pseudo : </label>
        <input type="text" name="newAboPseudo" id="newAboPseudo" autofocus /></br>

        <label for="newAboEmail">Email : </label>
        <input type="email" name="newAboEmail" id="newAboEmail" autofocus /></br>
        <input type="submit" />
      </p>
    </form>
    <script>function visibilite(thingId)
    {
      var targetElement;
      targetElement = document.getElementById(thingId) ;
      if (targetElement.style.display == "none")
      {
        targetElement.innerHTML="Show list of followers";
        targetElement.style.display = "" ;
      } else {
        targetElement.innerHTML="Hide list of followers";
        targetElement.style.display = "none" ;
      }
    }
    </script>
  </body>
  </html>
